      - name: Compile
        run: |
          QT5_STATIC="/mingw64/qt5-static"

          LLVM_CPPFLAGS="$(llvm-config --cppflags)"
          LLVM_LDFLAGS="$(llvm-config --ldflags)"
          LLVM_LIBS="$(llvm-config --link-static --libs core orcjit native support)"
          LLVM_SYSLIBS="$(llvm-config --link-static --system-libs)"

          QT5_LIBS=""
          QT5_LIBS="$QT5_LIBS -L${QT5_STATIC}/lib"
          QT5_LIBS="$QT5_LIBS -L${QT5_STATIC}/share/qt5/plugins/platforms"
          QT5_LIBS="$QT5_LIBS -lqwindows"
          QT5_LIBS="$QT5_LIBS -lQt5EventDispatcherSupport"
          QT5_LIBS="$QT5_LIBS -lQt5FontDatabaseSupport"
          QT5_LIBS="$QT5_LIBS -lQt5ThemeSupport"
          QT5_LIBS="$QT5_LIBS -lQt5WindowsUIAutomationSupport"
          QT5_LIBS="$QT5_LIBS -lQt5AccessibilitySupport"
          QT5_LIBS="$QT5_LIBS -lQt5Widgets"
          QT5_LIBS="$QT5_LIBS -lQt5Gui"
          QT5_LIBS="$QT5_LIBS -lQt5Core"

          PLATFORM_LIBS=""
          PLATFORM_LIBS="$PLATFORM_LIBS -lharfbuzz -lfreetype -lbrotlidec -lbrotlicommon -lgraphite2"
          PLATFORM_LIBS="$PLATFORM_LIBS -lpng16 -ljpeg -lz -lzstd -lbz2 -lb2 -lpcre2-16"
          PLATFORM_LIBS="$PLATFORM_LIBS -lole32 -loleaut32 -luuid -lcomdlg32"
          PLATFORM_LIBS="$PLATFORM_LIBS -lgdi32 -luser32 -lkernel32 -lshell32"
          PLATFORM_LIBS="$PLATFORM_LIBS -ladvapi32 -lws2_32 -lmswsock"
          PLATFORM_LIBS="$PLATFORM_LIBS -lwinspool -lshlwapi -lversion"
          PLATFORM_LIBS="$PLATFORM_LIBS -luxtheme -ldwmapi -limm32 -lwinmm"
          PLATFORM_LIBS="$PLATFORM_LIBS -lnetapi32 -luserenv -ldbghelp"
          PLATFORM_LIBS="$PLATFORM_LIBS -ld3d11 -ldxgi -ldxguid"
          PLATFORM_LIBS="$PLATFORM_LIBS -lrpcrt4 -liphlpapi"

          # Debug: show what llvm-config returns
          echo "LLVM_LIBS: ${LLVM_LIBS}"
          echo "LLVM_SYSLIBS: ${LLVM_SYSLIBS}"
          echo "LLVM_LDFLAGS: ${LLVM_LDFLAGS}"

          g++ -std=c++17 -O2 -DNDEBUG \
            -I"${QT5_STATIC}/include" \
            -I"${QT5_STATIC}/include/QtCore" \
            -I"${QT5_STATIC}/include/QtGui" \
            -I"${QT5_STATIC}/include/QtWidgets" \
            ${LLVM_CPPFLAGS} \
            -DQT_NO_KEYWORDS \
            -DQT_STATICPLUGIN \
            -DQT_STATIC \
            main.cpp \
            -o claudescript.exe \
            ${LLVM_LDFLAGS} \
            -Wl,--start-group \
            ${QT5_LIBS} \
            ${LLVM_LIBS} \
            ${LLVM_SYSLIBS} \
            ${PLATFORM_LIBS} \
            -Wl,--end-group \
            -static-libgcc -static-libstdc++ \
            -static \
            -Wl,--subsystem,console

          echo "Build complete"
